on:
    workflow_dispatch:
permissions:
    contents: write

name: Build Pernixc Compiler
jobs:
    build:
        name: Build Pernix Compiler
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                # windows-latest is `windows-x64`
                # macOS-latest is `macos-arm64`
                # macOS-13 is `macos-x64`
                # ubuntu-20.04 is `ubuntu-x64`
                # ubuntu-22.04-arm is `ubuntu-arm64`
                os:
                    [
                        windows-latest,
                        macOS-latest,
                        macOS-13,
                        ubuntu-22.04,
                        ubuntu-22.04-arm,
                    ]

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Set up Rust Nightly
              uses: dtolnay/rust-toolchain@nightly

            - name: Build LLVM on Unix-like
              if: runner.os != 'Windows'
              uses: ./.github/actions/build-llvm
              with:
                  llvm-version: 18.1.8
                  install-prefix: ${{ github.workspace }}/__llvm18
                  generator: "Ninja"
                  shell: "bash"

            - name: Build LLVM on Windows
              if: runner.os  == 'Windows'
              uses: ./.github/actions/build-llvm
              with:
                  llvm-version: 18.1.8
                  install-prefix: ${{ github.workspace }}/__llvm18
                  generator: "Visual Studio 17 2022"
                  shell: "pwsh"

            - name: Set LLVM prefix on Unix-like
              if: runner.os != 'Windows'
              run: |
                  ls ${{ github.workspace }}/__llvm18
                  echo "LLVM_SYS_181_PREFIX=${{ github.workspace }}/__llvm18" >> $GITHUB_ENV

            - name: Set LLVM prefix on Windows
              if: runner.os  == 'Windows'
              run: |
                  ls ${{ github.workspace }}/__llvm18
                  echo "LLVM_SYS_181_PREFIX${{ github.workspace }}/__llvm18"
                  echo "LLVM_SYS_181_PREFIX=${{ github.workspace }}/__llvm18" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

            - name: Build Pernix Compiler
              run: |
                  cargo install --path compiler/pernixc --root .

            - name: Upload Artifact on Unix-like
              if: runner.os != 'Windows'
              uses: actions/upload-artifact@v4
              with:
                  name: pernixc-${{ runner.os }}-${{ runner.arch }}
                  path: bin/pernixc

            - name: Upload Artifact on Window
              if: runner.os == 'Windows'
              uses: actions/upload-artifact@v4
              with:
                  name: pernixc-${{ runner.os }}-${{ runner.arch }}
                  path: bin/pernixc.exe
