on:
    workflow_dispatch:

    push:
        branches:
            - master

    pull_request:
        branches:
            - master

permissions:
    contents: write

name: Pernixc Compiler Code Check
jobs:
    build:
        name: Pernix Compiler Code Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Rust Cache
              uses: Swatinem/rust-cache@v2

            - name: Build LLVM on Unix-like
              if: runner.os != 'Windows'
              uses: ./.github/actions/build-llvm
              with:
                  llvm-version: 18.1.8
                  install-prefix: ${{ github.workspace }}/__llvm18
                  generator: "Ninja"
                  shell: "bash"

            - name: Set LLVM prefix on Unix-like
              if: runner.os != 'Windows'
              run: |
                  ls ${{ github.workspace }}/__llvm18
                  echo "LLVM_SYS_181_PREFIX=${{ github.workspace }}/__llvm18" >> $GITHUB_ENV

            - name: Check Code Formatting
              run: cargo fmt --all -- --check

            - name: Run Clippy
              run: cargo clippy
