name: "Copilot Setup Steps"

# Automatically run the setup steps when they are changed to allow for easy validation, and
# allow manual testing through the repository's "Actions" tab
on:
    workflow_dispatch:
    push:
        paths:
            - .github/workflows/copilot-setup-steps.yml
    pull_request:
        paths:
            - .github/workflows/copilot-setup-steps.yml

jobs:
    # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
    copilot-setup-steps:
        runs-on: ubuntu-latest

        # Set the permissions to the lowest permissions possible needed for your steps.
        # Copilot will be given its own token for its operations.
        permissions:
            # If you want to clone the repository as part of your setup steps, for example to install dependencies, you'll need the `contents: read` permission. If you don't clone the repository in your setup steps, Copilot will do this for you automatically after the steps complete.
            contents: read

        # You can define any steps you want, and they will run before the agent starts.
        # If you do not check out your code, Copilot will do this for you.
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Rust 1.88.0
              uses: dtolnay/rust-toolchain@1.88.0

            - name: Build LLVM on Unix-like
              if: runner.os != 'Windows'
              uses: ./.github/actions/build-llvm
              with:
                  llvm-version: 18.1.8
                  install-prefix: ${{ github.workspace }}/__llvm18
                  generator: "Ninja"
                  shell: "bash"

            - name: Set LLVM prefix on Unix-like
              if: runner.os != 'Windows'
              run: |
                  ls ${{ github.workspace }}/__llvm18
                  echo "LLVM_SYS_181_PREFIX=${{ github.workspace }}/__llvm18" >> $GITHUB_ENV

            - name: Install cargo-nextest
              uses: baptiste0928/cargo-install@v3.3.0
              with:
                  crate: cargo-nextest

            - name: Install Rust Nightly with Fmt
              run: |
                  rustup toolchain install nightly --component rustfmt

            - name: Install Rust Stable Clippy
              run: |
                  rustup component add clippy

            - name: Install Cargo Insta
              run: |
                  cargo install cargo-insta

            - name: Check Code Formatting
              run: cargo +nightly fmt --all -- --check
