on:
    workflow_dispatch:

    push:
        branches:
            - master

    pull_request:
        branches:
            - master
permissions:
    contents: write

name: Test Pernixc Compiler
jobs:
    build:
        name: Test Pernix Compiler
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                # windows-latest is `windows-x64`
                # macOS-latest is `macos-arm64`
                # macOS-13 is `macos-x64`
                # ubuntu-24.04 is `ubuntu-x64`
                # ubuntu-24.04-arm is `ubuntu-arm64`
                os:
                    [
                        windows-latest,
                        macOS-latest,
                        macOS-13,
                        ubuntu-24.04,
                        ubuntu-24.04-arm,
                    ]
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Rust Cache
              uses: Swatinem/rust-cache@v2

            - name: Install Cargo Nextest
              run: cargo install cargo-nextest

            - name: Build LLVM on Unix-like
              if: runner.os != 'Windows'
              uses: ./.github/actions/build-llvm
              with:
                  llvm-version: 18.1.8
                  install-prefix: ${{ github.workspace }}/__llvm18
                  generator: "Ninja"
                  shell: "bash"

            - name: Build LLVM on Windows
              if: runner.os  == 'Windows'
              uses: ./.github/actions/build-llvm
              with:
                  llvm-version: 18.1.8
                  install-prefix: ${{ github.workspace }}/__llvm18
                  generator: "Visual Studio 17 2022"
                  shell: "pwsh"

            - name: Set LLVM prefix on Unix-like
              if: runner.os != 'Windows'
              run: |
                  ls ${{ github.workspace }}/__llvm18
                  echo "LLVM_SYS_181_PREFIX=${{ github.workspace }}/__llvm18" >> $GITHUB_ENV

            - name: Set LLVM prefix on Windows
              if: runner.os  == 'Windows'
              run: |
                  ls ${{ github.workspace }}/__llvm18
                  echo "LLVM_SYS_181_PREFIX${{ github.workspace }}/__llvm18"
                  echo "LLVM_SYS_181_PREFIX=${{ github.workspace }}/__llvm18" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

            - name: Run cargo nextest
              run: cargo nextest run --verbose --release --no-fail-fast
